@model IEnumerable<CodeWebCuaTui.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}   

     

     <img src="~/Image/bannerMixishopnew.png" class="img-fluid" width="100%" alt="..." style="margin: auto">
 
<p class="fs-1" align="center" style="margin-top: 40px;"><strong>Bán chạy nhất</strong></p>
<div align="center">
    <button type="button" class="btn btn-outline-primary">Xem tất cả</button>
</div>
<br>
<div class="container text-center">
     <div class="row align-items-start">
          @foreach (var item in Model)
             {
               <div class="col-3 col-md-3" style="margin: auto;"  >
                 <div class="khung" style="position: relative;">
                 <img class="anhsp" style="border: 0px;" class="img-thumbnail" alt="..." src="@Url.Content(item.Images.Path1)"
                     alt="Hình ảnh" style="width:50px">
                 </div>  
                 <br>
                <p style="color: rgb(24, 1, 1);" class="theloai"> @Html.DisplayFor(modelItem => item.Category.Name)</p>
                      <a class="linksp">  @Html.ActionLink(item.Name, "Details", new { id=item.ID })</a> <br>
  @*              <a class="linksp" asp-area="" asp-controller="Home" asp-action="Details"> @Html.DisplayFor(modelItem => item.Name)</a><br>*@
                <img src="Image/stars.png" style="border: 0px; width: 60px;" class="img-thumbnail" alt="...">
                <p><Strong> @Html.DisplayFor(modelItem => item.Price)</Strong>
               </div>
                 
             }
     </div>
  
</div>
<div class="container text-center">
    <br>
   <div class="row align-items-start">
        <div class="col">
            <video src="Image/MIxiVideo.mp4" class="object-fit-md-fill" autoplay muted loop height="450"
                width="1180"></video>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" style="color: white;"
                href="https://www.facebook.com/MixiShop-182674912385853/?ref=page_internal" role="button">Facebook</a>
            <a class="btn btn-primary" style="color: white;" href="https://www.instagram.com/mixi.shop/"
                role="button">Instagram</a>
        </div>
    </div>
    
</div>

