@model IEnumerable<CodeWebCuaTui.Models.Bill>


    <div class="app">
        <div class="layout">
            <!-- Header START -->

            <!-- Header END -->

            <!-- Side Nav START -->

            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="container">

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="page-header">
                        <h2 class="header-title">Orders List</h2>
                        <div class="header-sub-title">
                            <nav class="breadcrumb breadcrumb-dash">
                                <a asp-action="Index" asp-controller="Home" class="breadcrumb-item"><i
                                        class="anticon anticon-home m-r-5"></i>Home</a>

                                <span class="breadcrumb-item active">Bill List</span>
                            </nav>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row m-b-30">
                                <div class="col-lg-8">
                                    <div class="d-md-flex">
                                        <div class="m-b-10 m-r-15">

                                            <select class="custom-select" style="min-width: 180px;">
                                                <option selected>Status</option>
                                                <option value="all">Hoàn thành</option>
                                                <option value="homeDeco">Chưa hoàn thành</option>

                                            </select>
                                          
                                        </div>
                                          <form asp-controller="Home" asp-action="Index">
                                                <div class="input-group" style="width:200px">
                                                    <input type="text" class="form-control" name="searchString"
                                                        placeholder="Tìm kiếm...">

                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit" hidden>
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                    </div>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-primary">
                                        <i class="anticon anticon-plus-circle m-r-5"></i>
                                        <span>Add Product</span>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover e-commerce-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                User
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BillCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DateCreate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DateOfPay)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Phone)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Describe)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr onclick="window.location.href='@Url.Action(" ShowBillDetails", "Bill" , new
                                            { id=item.ID })'">

                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateCreate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateOfPay)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Describe)
                                            </td>
                                            <td>
                                                @item.TotalAmount.ToString("n0") đồng
                                            </td>
                                            <td>
                                                @(item.Status == 0 ? "Đã hoàn thành" : "Chưa hoàn thành")
                                            </td>
                                            <td>
                                                @*@Html.ActionLink("Chi Tiết"," ShowBillDetails", "Bill" ,
                                                new { id=item.ID } )*@

                                            </td>
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                =
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

            <!-- Quick View END -->
        </div>
    </div>


    <!-- Core Vendors JS -->