@model IEnumerable<CodeWebCuaTui.Models.CartDetails>

@{
    ViewData["Title"] = "ShowCartUser";
     var tongtien = ViewBag.Total;
        decimal ship = 40000;

}

@if(TempData["bug"] != null) {
    <div class="alert alert-danger">@TempData["bug"]</div>
}
@if(TempData["quantityCart"]!=null)
{
     <div class="alert alert-danger">@TempData["quantityCart"]</div>
}
  <section class="h-100 h-custom" >
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
      
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">SHOPPING CART</th>
                      <th scope="col">Thể loại</th>
                      <th scope="col">Số lượng</th>  
                      <th scope="col">Đơn giá</th>
                      <th scope="col">Tạm tính</th>
                      <th scope="col">   <p>@Html.ActionLink("Xóa toàn bộ giỏ hàng","DeleteAllCart","Cart"  )</p></th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model) {
          <tr>
                      <th scope="row">
                        <div class="d-flex align-items-center">
                       <img src="@Url.Content(item.Product.Images.Path1)" class="img-fluid rounded-3" style="width: 120px;" alt="Product">
                          <div class="flex-column ms-4">
                            <p class="mb-2">     <a class="linksp">  @Html.ActionLink(item.Product.Name, "Details","Home", new { id=item.ProductId })</a> <br></p>
                            <p class="mb-0">  Size:  @Html.DisplayFor(modelItem => item.Product.Sizes.Name)</p>
                            <p class="mb-0">  Color:  @Html.DisplayFor(modelItem => item.Product.Color.Name)</p>

                          </div>
                        </div>
                      </th>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;">   @Html.DisplayFor(modelItem => item.Product.Suppliers.Name)</p>
                      </td>
                      <td class="align-middle">
                          <form method="post" asp-action="UpdateCart" asp-controller="Cart">
                            <div class="d-flex flex-row">

                        <input type="number" min="1"  name="quantity" value="@item.Quantity" data-product-id="@item.Product.ID" oninput="handleInput(event)"
                        class="form-control form-control-sm" style="width: 60px; height:10px" />
        
                        </div>
                        <input type="hidden" name="ProductID" value="@item.Product.ID" />
                          </form>
                        
                      </td>
                        <td class="align-middle">
                     <p class="mb-0" style="font-weight: 500;">@((item.Product.Price).ToString("N0")) đồng</p>
                      </td>
                      <td class="align-middle">
                     <p class="mb-0" style="font-weight: 500;">@((item.Product.Price*item.Quantity).ToString("N0")) đồng  </p>
                 
                      </td>
                      <td class="align-middle">
                      <p>@Html.ActionLink("Xóa","DeleteCart","Cart",new {id=item.ID}  )</p>
                     @*   <form action="@Url.Action("DeleteCart", "Cart")" method="post">
                            <input type="hidden" name="productId" value="@item.ProductID" />
                            <button type="submit">Xóa sản phẩm</button>
                        </form>*@
                    </td>
                    </tr>                     
                            } 
                  </tbody>
                </table>
              </div>
      
              <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                <div class="card-body p-4">
      
                  <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                      <form>
                        <div class="d-flex flex-row pb-3">
                          <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                              value="" aria-label="..." checked />
                          </div>
                          <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0">
                              <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"> <img src="~/Image/master-card.png" width="20px" alt=""></i>Credit
                              Card
                            </p>
                          </div>
                        </div>
                        <div class="d-flex flex-row pb-3">
                          <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                              value="" aria-label="..." />
                          </div>
                          <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0">
                              <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"> <img src="~/Image/ShipCod.png" width="20px" alt=""></i>Ship COD
                            </p>
                          </div>
                        </div>
                        <div class="d-flex flex-row">
                          <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                              value="" aria-label="..." />
                          </div>
                          <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0">
                              <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"><img src="~/Image/visa.png" width="20px" alt=""></i>PayPal
                            </p>
                          </div>                       
                        </div>
                        
                      </form>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-6">
                      <div class="row">
                        <div class="col-12 col-xl-6">
                          <div class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                              placeholder="Chang" />
                            <label  for="typeName">Tên trên thẻ</label>
                          </div>
      
                          <div class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                              size="7" id="exp" minlength="7" maxlength="7" />
                            <label  for="typeExp">Hạn sử dụng</label>
                          </div>
                        </div>
                        <div class="col-12 col-xl-6">
                          <div class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                              placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                            <label >Số thẻ</label>
                          </div>
      
                          <div class="form-outline mb-4 mb-xl-5">
                            <input type="password" id="typeText" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label >Cvv</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-2">Tạm tính</p>
              <p class="mb-2">@ViewBag.Total.ToString("N0") đ</p>

                      </div>
      
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0">Shipping</p>
                        <p class="mb-0">@ship.ToString("N0") đ</p>
                      </div>
      
                      <hr class="my-4">
      
                      <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                        <p class="mb-2">Tổng</p>
                 <p class="mb-2">@((ViewBag.Total + ship).ToString("N0")) đ</p>

                      </div>
      
                      <button type="button" class="btn btn-primary btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>Thanh toán: </span>
                          <span>@((ViewBag.Total + ship).ToString("N0")) đ</span>
                        </div>
                      </button>
                    </div>
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
      @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         function handleInput(event) {
            const input = event.target; // Lấy đối tượng input được kích hoạt sự kiện
            const value = input.value;
            const productId = input.dataset.productId;
            $.ajax({
              url: '/Cart/UpdateCartToUser',
              type: 'POST',
              data: { idsp: productId, quantity: value },
              success: function (result) {
                window.location.href = '@Url.Action("ShowCartUser", "Cart")';
              }
            })}
    </script>
  
}