@model IEnumerable<CodeWebCuaTui.Models.CartDetails>

    @{
    ViewData["Title"] = "ShowCartUser";
    var tongtien = ViewBag.Total;
    decimal ship = 40000;

    }

    @if(TempData["successful"]!=null)
    {
    <div id="success-message" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["successful"]
        <button type="button" class="close" data-dismiss="alert" style="display:none" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }
    @if(TempData["PayError"]!=null)
    {
    <div id="success-message" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["PayError"]
        <button type="button" class="close" data-dismiss="alert" style="display:none" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }





    @if(TempData["bug"] != null) {
    <div class="alert alert-danger">@TempData["bug"]</div>
    }
    @if(TempData["quantityCart"]!=null)
    {
    <div class="alert alert-danger">@TempData["quantityCart"]</div>
    }
    <section class="h-100 h-custom">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="h5">SHOPPING CART</th>
                                    <th scope="col">Thể loại</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Đơn giá</th>
                                    <th scope="col">Tạm tính</th>
                                    <th scope="col">
                                        <p>@Html.ActionLink("Xóa toàn bộ giỏ hàng","DeleteAllCart","Cart" )</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="@Url.Content(item.Product.Images.Path1)"
                                                class="img-fluid rounded-3" style="width: 120px;" alt="Product">
                                            <div class="flex-column ms-4">
                                                <p class="mb-2"> <a class="linksp"> @Html.ActionLink(item.Product.Name,
                                                        "Details","Home", new { id=item.ProductId })</a> <br></p>
                                                <p class="mb-0"> Size: @Html.DisplayFor(modelItem =>
                                                    item.Product.Sizes.Name)</p>
                                                <p class="mb-0"> Color: @Html.DisplayFor(modelItem =>
                                                    item.Product.Color.Name)</p>

                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;"> @Html.DisplayFor(modelItem =>
                                            item.Product.Suppliers.Name)</p>
                                    </td>
                                    <td class="align-middle">
                                        <form method="post" asp-action="UpdateCart" asp-controller="Cart">
                                            <div class="d-flex flex-row">

                                                <input type="number" min="1" name="quantity" value="@item.Quantity"
                                                    data-product-id="@item.Product.ID" oninput="handleInput(event)"
                                                    class="form-control form-control-sm"
                                                    style="width: 60px; height:10px" />

                                            </div>
                                            <input type="hidden" name="ProductID" value="@item.Product.ID" />
                                        </form>

                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">@((item.Product.Price).ToString("N0"))
                                            đồng</p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">
                                            @((item.Product.Price*item.Quantity).ToString("N0")) đồng </p>

                                    </td>
                                    <td class="align-middle">
                                        <p>@Html.ActionLink("Xóa","DeleteCart","Cart",new {id=item.ID} )</p>
                                        @* <form action="@Url.Action(" DeleteCart", "Cart" )" method="post">
                                            <input type="hidden" name="productId" value="@item.ProductID" />
                                            <button type="submit">Xóa sản phẩm</button>
                                        </form>*@
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                  <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
    <div class="card-body p-4">
        <form asp-action="Pay" asp-controller="Bill">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">

                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                value="" aria-label="..." checked />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"> <img
                                        src="~/Image/master-card.png" width="30px" alt=""></i>Thẻ Tín dụng/Ghi nợ
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                value="" aria-label="..." />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"> <img src="~/Image/visa.png"
                                        width="30px" alt=""></i>Visa
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                                value="" aria-label="..." />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"><img
                                        src="~/Image/ShipCod.png" width="30px" alt=""></i>COD
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-lg-4 col-xl-6">
              
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-outline mb-4 mb-xl-5">
                             <label>Tên</label>
                            <input type="text" name="name" class="form-control form-control-lg" size="17"  placeholder="Họ và Tên" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;" required />

                            </div>

                            <div class="form-outline mb-4 mb-xl-5">
                                     <label>Số điện thoại</label>
                                <input type="text" name="phone" class="form-control form-control-lg" placeholder="SĐT"
                                    size="7" minlength="10" maxlength="10" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;" required />
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-outline mb-4 mb-xl-5">
                                     <label>Địa chỉ</label>
                                <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                    placeholder="address" name="address" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;" />
                            </div>

                            <div class="form-outline mb-4 mb-xl-5">
                                     <label>Mô tả</label>
                                <input type="text" name="Describe" class="form-control form-control-lg"
                                    placeholder="Địa Chỉ" size="17" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-2" style="font-size: 15px;">Tạm tính</p>
                        <p class="mb-2" style="font-size: 15px;">@ViewBag.Total.ToString("N0") đ</p>
                    </div>
                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0" style="font-size: 15px;">Shipping</p>
                        <p class="mb-0" style="font-size: 15px;">@ship.ToString("N0") đ</p>
                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                        <p class="mb-2" style="font-size: 15px;">Tổng</p>
                        <p class="mb-2" style="font-size: 15px;">@((ViewBag.Total + ship).ToString("N0")) đ</p>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                            <span>
                                Thanh toán:
                            </span>
                            <span>@((ViewBag.Total + ship).ToString("N0")) đ</span>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function handleInput(event) {
            const input = event.target; // Lấy đối tượng input được kích hoạt sự kiện
            const value = input.value;
            const productId = input.dataset.productId;
            $.ajax({
                url: '/Cart/UpdateCartToUser',
                type: 'POST',
                data: { idsp: productId, quantity: value },
                success: function (result) {
                    window.location.href = '@Url.Action("ShowCartUser", "Cart")';
                }
            })
        }
        $(document).ready(function () {
            $("#success-message").fadeTo(4000, 500).slideUp(500, function () {
                $("#success-message").slideUp(500);
            });
        });
    </script>

    }