@model IEnumerable<CodeWebCuaTui.Models.Images>

@{
    ViewData["Title"] = "ShowAll";
}

<h1>ShowAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Path1)" alt="Hình ảnh" style="width:50px">
            </td>
            <td>
                  <img src="@Html.DisplayFor(modelItem => item.Path2)" alt="Hình ảnh" style="width:50px">
            </td>
            <td>
                  <img src="@Html.DisplayFor(modelItem => item.Path3)" alt="Hình ảnh" style="width:50px">
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Path4)" alt="Hình ảnh" style="width:50px">
            </td>
            <td>
        @(item.Status == 0 ? "Hoạt động" : "Không hoạt động")
            </td>
            <td>
                 @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ID })
            </td>
            
        </tr>
}
    </tbody>
</table>
